html, body{
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
	margin: 0;
}

.jfs-container{
	width: 100%;
	height: 100%;
	position: relative;
}

.jfs-container .engine_gl_canvas{
	width: 100%;
	height: 100%;
	position: absolute;
}

.jfs-container .text_gl_canvas{
	width: 100%;
	height: 100%;
	position: absolute;
}